.portfolio {
    background-color: var(--blue);
    padding: 10em 17%;
    color: #FFFFFF;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 6%;
    margin-top: 50px;
}

.portfolio > p {
    font-size: 4em;
    font-family: Graphie;
    opacity: 1;
    margin: 0;
    padding: 0;
    margin-top: -25px;
}

.portfolio > p:first-child {
    letter-spacing: -2.2px;
}