:root {
  --blue: #502EFF;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border {
  border: 2px solid red;
}

@font-face {
  font-family: 'Graphie';
  src: local('Graphie'), url(./fonts/graphie/Graphie-Regular.otf) format('opentype');
}